html,
body {
	padding: 0;
	margin: 0;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}

* { box-sizing: border-box; }

body {
	font-family: 'Press Start 2P', cursive;
}

.app {
	display: flex;

	@media (max-width: 920px) {
		flex-direction: column;
	}
}